body {
	background: #222;
	color: #eee;
}
.nav-link:focus, .nav-link:hover {
	background-color: #e2e6ea;
	border-color: #dae0e5;
}
.navbar-nav .nav-link {
	padding-right: 1rem;
}
ul li {
	display: inline-block;
}
ul li a {
	color: #f0a;
}
a img {
	max-width: 500px;
}